<div class="bh-sl-container">
	<div class="container">
			
		<div class="col-xs-12">
			
			<div id="page-header">
				<h1 class="bh-sl-title">Locate a dealer</h1>
		
			</div>
			<div class="bh-sl-form-container">
				<form id="bh-sl-user-location" method="post" action="#">
					<div class="form-input">
						<label for="bh-sl-address">Enter Address or Zip Code:</label>
						<input type="text" id="bh-sl-address" name="bh-sl-address"/>
					</div>
		
					<button id="bh-sl-submit" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>


    <div id="bh-sl-map-container" class="bh-sl-map-container">
        <div id="bh-sl-map" class="bh-sl-map"></div>
        <div class="bh-sl-loc-list">
            <ul class="list"></ul>
        </div>
    </div>
</div>
<button id="importDealers" style="display:none;">Import Dealers</button>
<script type="text/javascript">

    $(document).ready(function () {
		$('#importDealers').click(function(){
			var dealers = [
                {
                    "Account Name": "Montrose Bike Shop",
                    "Mailing Street": "2501 Honolulu Ave.",
                    "Mailing City": "Montrose",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91020,
                    "Mailing Country": "USA",
                    "Phone": "(818) 249-3993",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Menifee Bicycles Inc.",
                    "Mailing Street": "26100 Newport Rd. Suite A20",
                    "Mailing City": "Menifee",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92584,
                    "Mailing Country": "USA",
                    "Phone": "(951) 672-1637",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Ira's Bike Shop",
                    "Mailing Street": "107 Bridge St.",
                    "Mailing City": "Arroyo Grande",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93420,
                    "Mailing Country": "USA",
                    "Phone": "(805) 489-2621",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Stone's Cyclery",
                    "Mailing Street": "320 Santa Clara Ave.",
                    "Mailing City": "Alameda",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94501,
                    "Mailing Country": "USA",
                    "Phone": "(510) 523-3264",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Jones Bicycles of Long Beach",
                    "Mailing Street": "5332 E 2nd St",
                    "Mailing City": "Long Beach",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90803,
                    "Mailing Country": "USA",
                    "Phone": "(562) 434-0343",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Empire Bikes",
                    "Mailing Street": "4200 Chino Hills Pkwy STE #675",
                    "Mailing City": "Chino Hills",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91709,
                    "Mailing Country": "USA",
                    "Phone": "(909) 393-2423",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Lake Cunningham Regional Skatepark",
                    "Mailing Street": "2305 S. White Rd.",
                    "Mailing City": "San Jose",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95148,
                    "Mailing Country": "USA",
                    "Phone": "(616) 214-9227",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "BIKES 4 LIFE",
                    "Mailing Street": "1344 SUNSET DR",
                    "Mailing City": "ANTIOCH",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94509,
                    "Mailing Country": "USA",
                    "Phone": "[1] (925) 754-8025",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Visalia Cyclery",
                    "Mailing Street": "1829 W CALDWELL AVE",
                    "Mailing City": "VISALIA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93277,
                    "Mailing Country": "USA",
                    "Phone": "[1] (559) 732-2453",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Sniders Locksmith Service",
                    "Mailing Street": "2700 UNION AVE",
                    "Mailing City": "BAKERSFIELD",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93305,
                    "Mailing Country": "USA",
                    "Phone": "[1] (661) 324-4759",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Velo Pro Cyclery",
                    "Mailing Street": "PO Box 30626",
                    "Mailing City": "Santa Barbara",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93130,
                    "Mailing Country": "USA",
                    "Phone": "[1] 805-963-7775",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Pegasus Bicycle Works",
                    "Mailing Street": "114 E. Prospect Ave.",
                    "Mailing City": "Danville",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94526,
                    "Mailing Country": "United States",
                    "Phone": "(925) 362-2220",
                    "Fax": "+1 925.362.4347",
                    "Mobile": 0
                },
                {
                    "Account Name": "Cognition Cyclery",
                    "Mailing Street": "903 Castro St.",
                    "Mailing City": "Mountain View",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94041,
                    "Mailing Country": "USA",
                    "Phone": "(650) 386-1955",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Vans Bicycle Center",
                    "Mailing Street": "622 GRAY AVE",
                    "Mailing City": "YUBA CITY",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95991,
                    "Mailing Country": "USA",
                    "Phone": "(530) 674-0179",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Chico Bike and Board",
                    "Mailing Street": "845 Main St",
                    "Mailing City": "Chico",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95928,
                    "Mailing Country": "USA",
                    "Phone": "(530) 343-5506",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Valley Bicycles",
                    "Mailing Street": "24727 RAILROAD AVE",
                    "Mailing City": "Newhall",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91321,
                    "Mailing Country": "USA",
                    "Phone": "(661) 255-7871",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Chico Bike and Board",
                    "Mailing Street": "845 Main St",
                    "Mailing City": "Chico",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95928,
                    "Mailing Country": "USA",
                    "Phone": "(530) 343-5506",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bikecology Torrance",
                    "Mailing Street": "2355 Sepulveda Blvd.",
                    "Mailing City": "Torrance",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90501,
                    "Mailing Country": "USA",
                    "Phone": "(310) 320-1417",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "A Bicycle Odyssey",
                    "Mailing Street": "1417 Bridgeway",
                    "Mailing City": "Sausalito",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94965,
                    "Mailing Country": "USA",
                    "Phone": "(415) 332-3050",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bicycle Br?stop",
                    "Mailing Street": "830 Grant Ave",
                    "Mailing City": "Novato",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94945,
                    "Mailing Country": "United States",
                    "Phone": "+1 (415) 408-3363",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Tread Bike Shop",
                    "Mailing Street": "2125 S. Winchester Blvd. #100",
                    "Mailing City": "Campbell",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95008,
                    "Mailing Country": "USA",
                    "Phone": "(408) 792-7191",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Area Cycles",
                    "Mailing Street": "3052 Castro Valley Blvd",
                    "Mailing City": "Castro Valley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94546,
                    "Mailing Country": "United States",
                    "Phone": "+1 (510) 589-7291",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "A Bicycle Odyssey",
                    "Mailing Street": "1417 Bridgeway",
                    "Mailing City": "Sausalito",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94965,
                    "Mailing Country": "United States",
                    "Phone": "(415) 332-3050",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Authorized Bicycle Shop",
                    "Mailing Street": "1220 Georgia Street",
                    "Mailing City": "Vallejo",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94590,
                    "Mailing Country": "United States",
                    "Phone": "(707) 648-1413",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bob & Ardyces Bicycle Shop",
                    "Mailing Street": "1363 W INYOKERN RD",
                    "Mailing City": "RIDGECREST",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93555,
                    "Mailing Country": "United States",
                    "Phone": "[1] (760) 446-1688",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Bear Bikes",
                    "Mailing Street": "1288 N. Main St",
                    "Mailing City": "Salinas",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93906,
                    "Mailing Country": "United States",
                    "Phone": "(831) 444-8460",
                    "Fax": "+1 (831) 444-8462",
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Path of Hayward",
                    "Mailing Street": "22510 Foothill Blvd",
                    "Mailing City": "Hayward",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94541,
                    "Mailing Country": "United States",
                    "Phone": "+1 (510) 881-5177",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Larkspur Bike-N-Bean",
                    "Mailing Street": "Larkspur Bike N Bean",
                    "Mailing City": "Larkspur",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94939,
                    "Mailing Country": "USA",
                    "Phone": "(415) 891-3376",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Daves Bike Shop",
                    "Mailing Street": "163 E GOBBI ST STE B",
                    "Mailing City": "Ukiah",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95482,
                    "Mailing Country": "USA",
                    "Phone": "(707) 462-3230",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Blisworks",
                    "Mailing Street": "1340 E. Covell Blvd",
                    "Mailing City": "Davis",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95616,
                    "Mailing Country": "United States",
                    "Phone": "(530) 758-7433",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Main Street Cycles",
                    "Mailing Street": "311 E MAIN ST",
                    "Mailing City": "SANTA MARIA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93454,
                    "Mailing Country": "USA",
                    "Phone": "(805) 922-5577",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Studio Cycle Company",
                    "Mailing Street": "11740 Ventura Blvd.",
                    "Mailing City": "Studio City",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91604,
                    "Mailing Country": "USA",
                    "Phone": "(818) 761-0784",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "3 Ring Cycles- OLD",
                    "Mailing Street": "538 San Anselmo Ave",
                    "Mailing City": "San Anselmo",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94960,
                    "Mailing Country": "USA",
                    "Phone": "[1] (415)259-5704",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Art's Cyclery SLO",
                    "Mailing Street": "2140 Santa Barbara St.",
                    "Mailing City": "San Luis Obispo",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93401,
                    "Mailing Country": "United States",
                    "Phone": "[1] (805) 543-4416",
                    "Fax": "+1 (805) 543-2242",
                    "Mobile": 0
                },
                {
                    "Account Name": "American Cyclery",
                    "Mailing Street": "858 Stanyan St.",
                    "Mailing City": "San Francisco",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94117,
                    "Mailing Country": "USA",
                    "Phone": 0,
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Simi Bike Works",
                    "Mailing Street": "2687 Cochran St",
                    "Mailing City": "Simi Valley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93065,
                    "Mailing Country": "USA",
                    "Phone": "(805) 583-2124",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Sunshine Bicycles",
                    "Mailing Street": "311 1st St.",
                    "Mailing City": "Gilroy",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95020,
                    "Mailing Country": "USA",
                    "Phone": "(408) 842-4889",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Path of Hayward",
                    "Mailing Street": "22510 Foothill Blvd",
                    "Mailing City": "HAYWARD",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94541,
                    "Mailing Country": "USA",
                    "Phone": "[1] (510) 881-5177",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "THE OFF RAMP",
                    "Mailing Street": "2320 West El Camino Real",
                    "Mailing City": "Mountain View",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94040,
                    "Mailing Country": "USA",
                    "Phone": "(650) 968-2974",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Passion Trail Bikes",
                    "Mailing Street": "415-Old County Road",
                    "Mailing City": "Belmont",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94002,
                    "Mailing Country": "United States",
                    "Phone": "(650) 620-9798",
                    "Fax": "+1 (650) 620-9787",
                    "Mobile": 0
                },
                {
                    "Account Name": "Citrus Cyclery",
                    "Mailing Street": "9022 Pulsar Court",
                    "Mailing City": "Corona",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92883,
                    "Mailing Country": "USA",
                    "Phone": "(951) 444-7353",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Passion Trail Bikes",
                    "Mailing Street": "415-Old County Road",
                    "Mailing City": "Belmont",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94002,
                    "Mailing Country": "USA",
                    "Phone": "(650) 620-9798",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Class Cycle",
                    "Mailing Street": "1531 S NOVATO BLVD STE B",
                    "Mailing City": "NOVATO",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94947,
                    "Mailing Country": "United States",
                    "Phone": "(415) 897-3288",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Clovis Bicycle Co",
                    "Mailing Street": "50 W Bullard Ave Ste 113",
                    "Mailing City": "Clovis",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93612,
                    "Mailing Country": "USA",
                    "Phone": "(559) 492-7896",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Masters- NEW",
                    "Mailing Street": "605 E. Main St.",
                    "Mailing City": "Turlock",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95380,
                    "Mailing Country": "USA",
                    "Phone": "(209) 634-8123",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Tread Bike Shop",
                    "Mailing Street": "2125 S. Winchester Blvd. #100",
                    "Mailing City": "Campbell",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95008,
                    "Mailing Country": "USA",
                    "Phone": "(408) 792-7191",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Dublin Cyclery",
                    "Mailing Street": "7001 DUBLIN BLVD",
                    "Mailing City": "DUBLIN",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94568,
                    "Mailing Country": "USA",
                    "Phone": "[1] (925) 828-8676",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Danville Bike",
                    "Mailing Street": "175 Hartz Ave",
                    "Mailing City": "Danville",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94526,
                    "Mailing Country": "United States",
                    "Phone": "+1 (925) 837-0966",
                    "Fax": 0,
                    "Mobile": "+1 925-389-8745"
                },
                {
                    "Account Name": "Santa Monica Mountains Cyclery",
                    "Mailing Street": "21526 Ventura Blvd",
                    "Mailing City": "Woodland Hills",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91364,
                    "Mailing Country": "United States",
                    "Phone": "(818) 453-3204",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Action Sports",
                    "Mailing Street": "9500 Brimhall Rd. Suite 400",
                    "Mailing City": "Bakersfield",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93312,
                    "Mailing Country": "USA",
                    "Phone": "(661) 833-4000",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Lake Cunningham Regional Skatepark",
                    "Mailing Street": "2305 South White Road",
                    "Mailing City": "San Jose",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95148,
                    "Mailing Country": "United States",
                    "Phone": "+1 408-794-7576",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Isla Vista Bicycles",
                    "Mailing Street": "880 EMBARCADERO",
                    "Mailing City": "Isla Vista",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93117,
                    "Mailing Country": "United States",
                    "Phone": "+1 805.968.3338",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Gravity Pirates Web Store",
                    "Mailing Street": "15792 Caminito Cercado",
                    "Mailing City": "San Diego",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92128,
                    "Mailing Country": "United States",
                    "Phone": "(858) 220-6742",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Village Cycle- Redding",
                    "Mailing Street": "3090 BECHELLI LN",
                    "Mailing City": "Redding",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96002,
                    "Mailing Country": "USA",
                    "Phone": "(530) 223-2320",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "North of the Border Inc.",
                    "Mailing Street": "4204 Sorrento Valley Blvd Ste A",
                    "Mailing City": "San Diego",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92121,
                    "Mailing Country": "USA",
                    "Phone": "(858) 452-1230",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Open Air Bicycles",
                    "Mailing Street": "1303 STE A State St.",
                    "Mailing City": "Santa Barbara",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93101,
                    "Mailing Country": "USA",
                    "Phone": "(805) 962-7000",
                    "Fax": "(805) 963-3719",
                    "Mobile": 0
                },
                {
                    "Account Name": "A Main Hobbies.com",
                    "Mailing Street": "424 Otterson Dr.",
                    "Mailing City": "Chico",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95928,
                    "Mailing Country": "USA",
                    "Phone": "(530) 894-0797",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Tread Bike Shop",
                    "Mailing Street": "2125 S. Winchester Blvd. #100",
                    "Mailing City": "Campbell",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95008,
                    "Mailing Country": "USA",
                    "Phone": "(408) 792-7191",
                    "Fax": "[1] 408-416-3264",
                    "Mobile": 0
                },
                {
                    "Account Name": "Foys Bike Shop",
                    "Mailing Street": "352 W. Main St",
                    "Mailing City": "Woodland",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95695,
                    "Mailing Country": "USA",
                    "Phone": "(530) 662-4306",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cyclopedia Of Redding",
                    "Mailing Street": "1429 Market St.",
                    "Mailing City": "Redding",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96001,
                    "Mailing Country": "United States",
                    "Phone": "(530) 605-4500",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "River Bend Bikes",
                    "Mailing Street": "17171 28th St",
                    "Mailing City": "Bakersfield",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93301,
                    "Mailing Country": "United States",
                    "Phone": "+1 (661) 380-7269",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "L.A. Golden Bicycle Shop",
                    "Mailing Street": "4001 Wilshire Blvd.",
                    "Mailing City": "Los Angeles",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90010,
                    "Mailing Country": "USA",
                    "Phone": "(213) 739-9911",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Greenline Cycles",
                    "Mailing Street": "1911 Montgomery St",
                    "Mailing City": "Oroville",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95965,
                    "Mailing Country": "United States",
                    "Phone": "(530) 533-7885",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Paths Mountain Adventures",
                    "Mailing Street": "10095 West River St.",
                    "Mailing City": "Truckee",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96161,
                    "Mailing Country": "United States",
                    "Phone": "[1] (530) 582-1890",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Velo Pro Cyclery",
                    "Mailing Street": "633 State St.",
                    "Mailing City": "Santa Barbara",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93101,
                    "Mailing Country": "USA",
                    "Phone": "[1] 805-963-7775",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Revolution Bicycle Repair",
                    "Mailing Street": "2811 F ST",
                    "Mailing City": "EUREKA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95501,
                    "Mailing Country": "United States",
                    "Phone": "+1 (707) 443-9861",
                    "Fax": -8976,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bike Station - Aptos",
                    "Mailing Street": "36 Rancho Del Mar",
                    "Mailing City": "Aptos",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95003,
                    "Mailing Country": "USA",
                    "Phone": "(831) 688-4169",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Campus Bike Shop",
                    "Mailing Street": "459 Lagunita Dr #12",
                    "Mailing City": "Stanford",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94305,
                    "Mailing Country": "USA",
                    "Phone": "(650) 723-9300",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "College Cyclery",
                    "Mailing Street": "2760 21ST ST",
                    "Mailing City": "Sacramento",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95818,
                    "Mailing Country": "USA",
                    "Phone": "(916) 456-2042",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "DD Cycles",
                    "Mailing Street": "4049 BALBOA ST",
                    "Mailing City": "San Francisco",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94121,
                    "Mailing Country": "United States",
                    "Phone": "(415) 752-7980",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Main Street Cycles",
                    "Mailing Street": "311 E MAIN ST",
                    "Mailing City": "SANTA MARIA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93454,
                    "Mailing Country": "USA",
                    "Phone": "(805) 922-5577",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Natomas Bike Shop",
                    "Mailing Street": "3291 Truxel #30",
                    "Mailing City": "Sacramento",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95833,
                    "Mailing Country": "USA",
                    "Phone": "(916) 641-8640",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Revolution Bicycle Repair",
                    "Mailing Street": "Justin Brown",
                    "Mailing City": "Arcata",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95521,
                    "Mailing Country": "USA",
                    "Phone": "(707) 822-2562",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "San Francyclo",
                    "Mailing Street": "746 Arguello Blvd.",
                    "Mailing City": "San Francisco",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94118,
                    "Mailing Country": "United States",
                    "Phone": "Inner Richmond (415) 831-8031",
                    "Fax": 0,
                    "Mobile": "Haight St. (415) 800-8318"
                },
                {
                    "Account Name": "Valley Bicycles",
                    "Mailing Street": "24727 SAN FERNANDO RD",
                    "Mailing City": "NEWHALL",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91321,
                    "Mailing Country": "United States",
                    "Phone": "(661) 255-7871",
                    "Fax": "+1 -(661) 255-7909",
                    "Mobile": 0
                },
                {
                    "Account Name": "Ira's Bike Shop",
                    "Mailing Street": "107 Bridge St.",
                    "Mailing City": "Arroyo Grande",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93420,
                    "Mailing Country": "United States",
                    "Phone": "(805) 489-2621",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Gravity Pirates",
                    "Mailing Street": "2616 5th #204",
                    "Mailing City": "Santa Monica",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90405,
                    "Mailing Country": "United States",
                    "Phone": "(949) 929-7122",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cranky's",
                    "Mailing Street": "10625 Ellis Ave STE A",
                    "Mailing City": "Fountain Valley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92708,
                    "Mailing Country": "USA",
                    "Phone": "(714) 594-3228",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Ocean Cyclery",
                    "Mailing Street": "1935 OCEAN AVE",
                    "Mailing City": "SAN FRANCISCO",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94127,
                    "Mailing Country": "USA",
                    "Phone": "[1] (415) 239-5004",
                    "Fax": "[1] (415) 239-0233",
                    "Mobile": 0
                },
                {
                    "Account Name": "Sutterville Bicycle Company",
                    "Mailing Street": "2365 Sutterville Bypass STE C",
                    "Mailing City": "Sacramento",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95822,
                    "Mailing Country": "USA",
                    "Phone": "(916) 737-7537",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bike Station - Berkeley",
                    "Mailing Street": "2208 Shattuck Avenue",
                    "Mailing City": "Berkeley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94704,
                    "Mailing Country": "USA",
                    "Phone": "(510) 548-7433",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Bicycle John's",
                    "Mailing Street": "1038 N. Hollywood Way",
                    "Mailing City": "Burbank",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91505,
                    "Mailing Country": "USA",
                    "Phone": "(818) 848-8330",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Foothill Cyclery",
                    "Mailing Street": "767 B  FOOTHILL BLVD.",
                    "Mailing City": "San Luis Obispo",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93405,
                    "Mailing Country": "United States",
                    "Phone": "[1] (805) 541-4101",
                    "Fax": -6473,
                    "Mobile": 0
                },
                {
                    "Account Name": "Joshua Tree Bicycle Shop",
                    "Mailing Street": "6416 Hallee Rd. Suite A",
                    "Mailing City": "Joshua Tree",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92252,
                    "Mailing Country": "United States",
                    "Phone": "(760) 366-3377",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "The Hub Bicycles - Napa",
                    "Mailing Street": "2500 JEFFERSON ST",
                    "Mailing City": "Napa",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94558,
                    "Mailing Country": "USA",
                    "Phone": "(707) 253-2453",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Trail Head Cyclery",
                    "Mailing Street": "14390 Union Ave.",
                    "Mailing City": "SAN JOSE",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95124,
                    "Mailing Country": "USA",
                    "Phone": "(408) 369-9666",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Jenson USA",
                    "Mailing Street": "1615 Eastridge Ave",
                    "Mailing City": "Riverside",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92507,
                    "Mailing Country": "USA",
                    "Phone": "(951) 344-1018",
                    "Fax": "(951) 801-5545",
                    "Mobile": 0
                },
                {
                    "Account Name": "Live 4 Bikes",
                    "Mailing Street": "14328 WOODRUFF AVE",
                    "Mailing City": "BELLFLOWER",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90706,
                    "Mailing Country": "USA",
                    "Phone": "(562) 419-5308",
                    "Fax": 0,
                    "Mobile": "WWW.LIVE4BIKES.COM"
                },
                {
                    "Account Name": "Live4BikesOC",
                    "Mailing Street": "3456 W. Orange Ave. Unit #C",
                    "Mailing City": "Anaheim",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92804,
                    "Mailing Country": "USA",
                    "Phone": "(714) 220-3926",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Boards & Bikes Co.",
                    "Mailing Street": "2420 Mohawk St. # 300",
                    "Mailing City": "Bakersfield",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93308,
                    "Mailing Country": "United States",
                    "Phone": "(661) 243-5366",
                    "Fax": "+1 (661) 369-7511",
                    "Mobile": 0
                },
                {
                    "Account Name": "Livermore Cyclery",
                    "Mailing Street": "2752 First St.",
                    "Mailing City": "Livermore",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94550,
                    "Mailing Country": "USA",
                    "Phone": "(925) 455-8090",
                    "Fax": "(925) 373-4759",
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle World - Northridge",
                    "Mailing Street": "21112 Devonshire Street",
                    "Mailing City": "Chatsworth",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91311,
                    "Mailing Country": "USA",
                    "Phone": "[1] (818) 349-6900",
                    "Fax": "[1] (818) 349-2173",
                    "Mobile": 0
                },
                {
                    "Account Name": "Gravity Shop",
                    "Mailing Street": "475 North Lake Blvd. Suite 111",
                    "Mailing City": "Tahoe City",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96145,
                    "Mailing Country": "United States",
                    "Phone": "(530) 581-2558",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Montrose Bike Shop",
                    "Mailing Street": "2501 HONOLULU AVE",
                    "Mailing City": "MONTROSE",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91020,
                    "Mailing Country": "United States",
                    "Phone": "(818) 249-3993",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Bicycle Guys, LLC.",
                    "Mailing Street": "2201 Francisco Drive. STE 130",
                    "Mailing City": "El Dorado Hills",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95762,
                    "Mailing Country": "USA",
                    "Phone": "(916) 933-4485",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Sport - Chico",
                    "Mailing Street": "148 Main St",
                    "Mailing City": "Chico",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95928,
                    "Mailing Country": "USA",
                    "Phone": "(530) 345-1910",
                    "Fax": "(530) 345-3645",
                    "Mobile": 0
                },
                {
                    "Account Name": "Bicycles Pleasanton",
                    "Mailing Street": "537 Main Street",
                    "Mailing City": "Pleasanton",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94566,
                    "Mailing Country": "USA",
                    "Phone": "(925) 461-0905",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Blue Heron Bikes Berkeley",
                    "Mailing Street": "1306 Gilman St.",
                    "Mailing City": "Berkeley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94706,
                    "Mailing Country": "United States",
                    "Phone": "(510) 524-1937",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Newbury Park Bicycle Shop",
                    "Mailing Street": "1560-6 Newbury Rd.",
                    "Mailing City": "Newbury Park",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91320,
                    "Mailing Country": "United States",
                    "Phone": "[1] 805 498-7714",
                    "Fax": "+1 805 499-8857",
                    "Mobile": 0
                },
                {
                    "Account Name": "Averys Open Air",
                    "Mailing Street": "2386 E MAIN ST",
                    "Mailing City": "VENTURA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93003,
                    "Mailing Country": "United States",
                    "Phone": "[1] (805) 653-1100",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Off The Chain Bikes Inc",
                    "Mailing Street": "101 McCray St. #101",
                    "Mailing City": "Hollister",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95023,
                    "Mailing Country": "United States",
                    "Phone": "[1] (831) 636-0802",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Endless Cycles",
                    "Mailing Street": "20825 Nunes Ave",
                    "Mailing City": "Castro Valley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94552,
                    "Mailing Country": "USA",
                    "Phone": "(510) 470-3551",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Palms Cycle",
                    "Mailing Street": "3770 Motor Ave",
                    "Mailing City": "Los Angeles",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90034,
                    "Mailing Country": "USA",
                    "Phone": "(310) 838-9644",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Pedal Power Bicycles",
                    "Mailing Street": "1740 S BROADWAY",
                    "Mailing City": "SANTA MARIA",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93454,
                    "Mailing Country": "United States",
                    "Phone": "(805) 349-2294",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Pioneer Bike Shop",
                    "Mailing Street": "11 RIO VISTA AVE",
                    "Mailing City": "OAKLAND",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94611,
                    "Mailing Country": "USA",
                    "Phone": "[1] (510) 658-8981",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Redding Sports LTD",
                    "Mailing Street": "950 Hilltop Dr",
                    "Mailing City": "Redding",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96003,
                    "Mailing Country": "USA",
                    "Phone": "(530) 221-7333",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Central Coast Cycling",
                    "Mailing Street": "1108 E Clark Ave #180",
                    "Mailing City": "Santa Maria",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93455,
                    "Mailing Country": "USA",
                    "Phone": "(805) 934-2003",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Buena Park Bicycles",
                    "Mailing Street": "6042 BEACH BLVD",
                    "Mailing City": "BUENA PARK",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 90621,
                    "Mailing Country": "United States",
                    "Phone": "+1 714.521.8120",
                    "Fax": "+1 (714) 521-5218",
                    "Mobile": 0
                },
                {
                    "Account Name": "Boards & Bikes Co.",
                    "Mailing Street": "2420 Mohawk St. #300",
                    "Mailing City": "Bakersfield",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93308,
                    "Mailing Country": "USA",
                    "Phone": "(661) 325-2453",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Ridgeline Service",
                    "Mailing Street": "38925 Cherry Valley Blvd",
                    "Mailing City": "Cherry Valley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92223,
                    "Mailing Country": "USA",
                    "Phone": "(951) 729-0241",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Stage 2 Cyclery",
                    "Mailing Street": "24837 Jefferson Ave",
                    "Mailing City": "Murrieta",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92562,
                    "Mailing Country": "USA",
                    "Phone": "(951) 304-1212",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Roaring Mouse Cycles",
                    "Mailing Street": "934 Old Mason Street",
                    "Mailing City": "The Presidio of San Francisco",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94129,
                    "Mailing Country": "USA",
                    "Phone": "[1] (415) 753-6272",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Cambria Bicycle Outfitter",
                    "Mailing Street": "1645 Commerce Way",
                    "Mailing City": "Paso Robles",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93446,
                    "Mailing Country": "USA",
                    "Phone": "[1] 805-221-2210",
                    "Fax": "[1] 805-457-1083",
                    "Mobile": 0
                },
                {
                    "Account Name": "Newhall Bicycle Co",
                    "Mailing Street": "24261 1/2 Main Street",
                    "Mailing City": "NEWHALL",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91321,
                    "Mailing Country": "United States",
                    "Phone": "(661) 284-6187",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Rooster Wheels & Coffee",
                    "Mailing Street": "3556 Del Monte Blvd Ste. 201",
                    "Mailing City": "Marina",
                    "Mailing State/Province": "California",
                    "Mailing Zip/Postal Code": 95118,
                    "Mailing Country": 0,
                    "Phone": "(831) 582-2453",
                    "Fax": "(831) 384-3354",
                    "Mobile": 0
                },
                {
                    "Account Name": "Village Cycle- Redding",
                    "Mailing Street": "3090 BECHELLI LN",
                    "Mailing City": "Redding",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96002,
                    "Mailing Country": "USA",
                    "Phone": "(530) 223-2320",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Rufus Cycles",
                    "Mailing Street": "484 Main St #1",
                    "Mailing City": "Diamond Spring",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95619,
                    "Mailing Country": "USA",
                    "Phone": "(530) 303-3158",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Foothill Cyclery",
                    "Mailing Street": "767 B  FOOTHILL BLVD.",
                    "Mailing City": "SAN LUIS OBISPO",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93405,
                    "Mailing Country": "USA",
                    "Phone": "[1] (805) 541-4101",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Over The Edge Sports - S. Lake Tahoe",
                    "Mailing Street": "3665 Tamarack Ave",
                    "Mailing City": "South Lake Tahoe",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 96150,
                    "Mailing Country": "USA",
                    "Phone": "(530) 600-3633",
                    "Fax": 0,
                    "Mobile": "(831) 331-1013"
                },
                {
                    "Account Name": "Canyon Bicycles",
                    "Mailing Street": "18833 Soledad Canyon Rd",
                    "Mailing City": "Canyon Country",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91351,
                    "Mailing Country": "USA",
                    "Phone": "(661) 252-7217",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "San Jose Bicycles",
                    "Mailing Street": "565 Tully Rd.",
                    "Mailing City": "San Jose",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95111,
                    "Mailing Country": "USA",
                    "Phone": "(408) 964-8640",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Citizen Chain Cyclery",
                    "Mailing Street": "2064 Powell Street",
                    "Mailing City": "San Francisco",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94133,
                    "Mailing Country": "USA",
                    "Phone": "(415) 796-2925",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Menifee Bicycles Inc.",
                    "Mailing Street": "26100 Newport Rd. Suite A20",
                    "Mailing City": "Menifee",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92584,
                    "Mailing Country": "USA",
                    "Phone": "(951) 672-1637",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "MJ's Cyclery",
                    "Mailing Street": "3841 Park Blvd",
                    "Mailing City": "San Diego",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92103,
                    "Mailing Country": "USA",
                    "Phone": "(619) 922-0446",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Wingspan Cyclery",
                    "Mailing Street": "144 W Los Angeles Ave #11",
                    "Mailing City": "Moorpark",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93021,
                    "Mailing Country": "USA",
                    "Phone": "(805) 552-4339",
                    "Fax": 0,
                    "Mobile": "(818) 274-7205"
                },
                {
                    "Account Name": "Woodside Bike Shop - OLD",
                    "Mailing Street": "1523 Woodside Rd.",
                    "Mailing City": "Redwood City",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94061,
                    "Mailing Country": "USA",
                    "Phone": "(650) 299-1071",
                    "Fax": "(650) 299-1448",
                    "Mobile": 0
                },
                {
                    "Account Name": "Sports Center Bicycles",
                    "Mailing Street": "1576 DEL MONTE BLVD",
                    "Mailing City": "SEASIDE",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93955,
                    "Mailing Country": "United States",
                    "Phone": "[1] (831) 899-1300",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "Cycle Star Bicycles",
                    "Mailing Street": "560 E. Betteravia Suite G",
                    "Mailing City": "Santa Maria",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93454,
                    "Mailing Country": "United States",
                    "Phone": "+1 805-314-2623",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Sniders Locksmith Service",
                    "Mailing Street": "2700 UNION AVE",
                    "Mailing City": "BAKERSFIELD",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93305,
                    "Mailing Country": "USA",
                    "Phone": "[1] (661) 324-4759",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Stan's Bike Shop",
                    "Mailing Street": "880 S. Myrtle Ave",
                    "Mailing City": "Monrovia",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 91016,
                    "Mailing Country": "USA",
                    "Phone": "(626) 357-0020",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "3 Ring Cycles",
                    "Mailing Street": "538 San Anselmo Ave.",
                    "Mailing City": "San Anselmo",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94960,
                    "Mailing Country": "USA",
                    "Phone": "(415) 259-5704",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Livermore Cyclery",
                    "Mailing Street": "2957 Rodeo Lane",
                    "Mailing City": "Livermore",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94550,
                    "Mailing Country": "USA",
                    "Phone": "(925) 455-8090",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Sprockets",
                    "Mailing Street": "1420 Mission St.",
                    "Mailing City": "Santa Cruz",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95060,
                    "Mailing Country": "USA",
                    "Phone": "(831) 426-7623",
                    "Fax": "(831) 426-7626",
                    "Mobile": 0
                },
                {
                    "Account Name": "The Bicycle Wheel",
                    "Mailing Street": "130 W East Ave.",
                    "Mailing City": "Chico",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95926,
                    "Mailing Country": "United States",
                    "Phone": "+1 (530) 897-0180",
                    "Fax": "+1 -",
                    "Mobile": 0
                },
                {
                    "Account Name": "The Spoke Cyclery",
                    "Mailing Street": "6124 Telegraph Ave.",
                    "Mailing City": "Oakland",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94609,
                    "Mailing Country": "USA",
                    "Phone": "(510) 652-3089",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Tracy Cyclery",
                    "Mailing Street": "130 West 11th St., Suite A",
                    "Mailing City": "Tracy",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95376,
                    "Mailing Country": "United States",
                    "Phone": "(209) 835-7151",
                    "Fax": "+1 (209)835-7151",
                    "Mobile": 0
                },
                {
                    "Account Name": "Trinity Cyclery",
                    "Mailing Street": "1343 W. Grand Ave.",
                    "Mailing City": "Grover Beach",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93433,
                    "Mailing Country": "USA",
                    "Phone": "(805) 473-8324",
                    "Fax": "(805) 473-8364",
                    "Mobile": 0
                },
                {
                    "Account Name": "Sunnyside Bicycles",
                    "Mailing Street": "6105 East Kings Canyon Rd. #104",
                    "Mailing City": "Fresno",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 93727,
                    "Mailing Country": "United States",
                    "Phone": "[1] 559-255-7433",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Vans Bicycle Center",
                    "Mailing Street": "622 GRAY AVE",
                    "Mailing City": "YUBA CITY",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95991,
                    "Mailing Country": "United States",
                    "Phone": "(530) 674-0179",
                    "Fax": "+1 (530) 674-2642",
                    "Mobile": 0
                },
                {
                    "Account Name": "Velo Wrench Bike Shop",
                    "Mailing Street": "860 Alamo Dr",
                    "Mailing City": "Vacaville",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 95688,
                    "Mailing Country": "USA",
                    "Phone": "+1 707-451-4706",
                    "Fax": 0,
                    "Mobile": "[1] 707-249-1920"
                },
                {
                    "Account Name": "Wheels In Motion",
                    "Mailing Street": "735 1st St",
                    "Mailing City": "Benecia",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94510,
                    "Mailing Country": "USA",
                    "Phone": "[1] 707-746-8856",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Berkeley Bikes & Skateboards",
                    "Mailing Street": "Winston Jamison Jr.",
                    "Mailing City": "Berkeley",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 94706,
                    "Mailing Country": "USA",
                    "Phone": "(510) 356-4454",
                    "Fax": 0,
                    "Mobile": 0
                },
                {
                    "Account Name": "Q Bikes",
                    "Mailing Street": "4592 Clairemont Drive Suite 110",
                    "Mailing City": "SAN DIEGO",
                    "Mailing State/Province": "CA",
                    "Mailing Zip/Postal Code": 92117,
                    "Mailing Country": "USA",
                    "Phone": "[1] (858) 270-2412",
                    "Fax": 0,
                    "Mobile": "Lemon Grove  619.469.9831"
                }
            ];
			dealers.forEach(function(d){
				var data = {};
				data.location = {};
				data.name = d["Account Name"];
                data.location.street1 = d["Mailing Street"];
                data.location.suburb = d["Mailing City"];
                data.location.state = d["Mailing State/Province"];
                data.phone = d["Phone"];
				$.post('/api/dealers', data, function(responseData, textStatus){
					console.log(textStatus);
				})
			});
			
		});
		$.ajax('/api/dealers', {
			success: function(data){
				//console.log(data.dealers);
				var mapDealers = [];
				data.dealers.forEach(function(dealer, i){
					if(dealer.location){
                        data.dealers[i].address = dealer.location.street1;
                        data.dealers[i].address2 = dealer.location.street2;
                        data.dealers[i].city = dealer.location.suburb;
                        data.dealers[i].state = dealer.location.state;
                        data.dealers[i].postal = dealer.location.postcode;
						if(dealer.location.geo){
                            data.dealers[i].lng = parseFloat(dealer.location.geo[0]);
                            data.dealers[i].lat = parseFloat(dealer.location.geo[1]);
                            mapDealers.push(data.dealers[i]);
                        }
					}
				});
				
				/*{"id":"1",
				   "name":"Chipotle Minneapolis",
				   "lat":"44.947464",
				   "lng":"-93.320826",
				   "address":"3040 Excelsior Blvd",
				   "address2":"",
				   "city":"Minneapolis",
				   "state":"MN",
				   "postal":"55416",
				   "phone":"612-922-6662",
				   "web":"http:\/\/www.chipotle.com",
				   "hours1":"Mon-Sun 11am-10pm",
				   "hours2":"",
				   "hours3":""}*/
                var stylesArray = [
                    {
                        featureType: "all",
                        stylers: [
                            { saturation: -80 }
                        ]
                    },{
                        featureType: "road.arterial",
                        elementType: "geometry",
                        stylers: [
                            { hue: "#00ffee" },
                            { saturation: 50 }
                        ]
                    },{
                        featureType: "poi.business",
                        elementType: "labels",
                        stylers: [
                            { visibility: "off" }
                        ]
                    }
                ];
                var options = {
                    autoGeocode: false,
                    dataType: 'json',
					dataRaw: mapDealers,
                    fullMapStart: true,
                    fullMapStartBlank: false,
					fullMapStartListLimit: true,
					loading: true,
					storeLimit: mapDealers.length,
					slideMap: false,
					mapSettings: {
                        zoom: 10,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: true, // a way to quickly hide all controls
                        //mapTypeControl: true,
                        //scaleControl: true,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.LARGE
                        },
                        styles: stylesArray,
                        scrollwheel: false
                    }
                };
                $('#bh-sl-map-container').storeLocator(options);
			}
		});
    });

</script>
