
<div id="pac-input-container">
	<select id="pac-input-selector">
		<option value="address">Search by address</option>
		<option value="name">Dealer name</option>
	</select>
	<input id="pac-input" name="pac_input" class="controls" type="text" placeholder="Address or Postal/Zip">
	<input id="pac-input-name" name="pac_input_name" class="controls" type="text" placeholder="Dealer name">
	<!--<button id="pac-input-go" name="pac_input_go" class="controls">Search</button>-->
	<button id="pac-input-reset" name="pac_input_reset" class="controls">Reset</button>
</div>
<ul id="category-filters-container1" class="bh-sl-filters">
	<li>
		<label>
			<input type="checkbox" name="category" value="dealer" checked> Dealers
		</label>
	</li>
	<li>
		<label>
			<input type="checkbox" name="category" value="distributor" checked> Distributors
		</label>
	</li>
</ul>
<div id="map"></div>
<div id="location-list-container" class="hidden-xs">
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#location-list">Locations<span class="caret"></span></button>
	<div id="location-list" class="collapse in" style="width:400px"><ul></ul></div>
</div>

<button id="importDealers" style="display:none">Import Dealers</button>

<script type="text/javascript">

    //if (window.location.protocol != "https:")
    //    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);

    
</script>
