<div class="bh-sl-container">
	<div class="container">

		<div class="col-xs-12">

			<!--<div id="page-header">
				<h1 class="bh-sl-title">Locate a dealer</h1>

			</div>-->
			<div class="bh-sl-form-container">
				<form id="bh-sl-user-location" method="post" action="#">
					<div class="form-input">
						<label for="bh-sl-address">Enter Address or Zip Code:</label>
						<input type="text" id="bh-sl-address" name="bh-sl-address"/>
					</div>

					<button id="bh-sl-submit" class="btn btn-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

    <div id="bh-sl-map-container" class="bh-sl-map-container">
        <div id="bh-sl-map" class="bh-sl-map"></div>
        <div class="bh-sl-loc-list">
            <ul class="list"></ul>
        </div>
    </div>
</div>
<button id="importDealers" style="">Import Dealers</button>

<script type="text/javascript">

    //if (window.location.protocol != "https:")
    //    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);

    
</script>
