{{#each slides}}
	<div class="" style="background-color:#000;padding: 15px 0;">
	<div class="container">
		<div style="width:100%; position:relative">
			{{{parsedOverlay}}}
			<a href="{{href}}"><img data-src="{{cloudinaryUrl image width="auto" format="jpg" fetch_format="auto"}}" class="cld-responsive" style="width:100%" src=""/></a>
		</div>
    </div>
    </div>
{{/each}}
