<div id="fullpage" class="home">
	{{#each slides}}
		{{> index-section}}
	{{/each}}

	<div class="fp-auto-height section">
		{{> footer}}
	</div>
</div>
<div class="arrowDown hidden-xs">
	<span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="font-size:50px;"></span>
</div>
