{{!< default}}
{{>hero-carousel home.carousel}}
<div class="container">{{home.contentHtml}}</div>
<div class="embedly"></div>
<script>
	var decoded = $('<textarea />').html("{{home.embedlyData.html}}").val();
	document.write(decoded);	
</script>

