<div class="" style="background-color:#000;">
<div class="container">
	<a href="{{href}}"><img data-src="{{cloudinaryUrl moto.heroImage width="auto" format="jpg"}}" class="cld-responsive" style="width:100%" src=""/></a>
	
</div>
</div>
