<div class="" style="background-color:#FFF;padding-bottom:10px;">
<div class="container">
	<img data-src="{{cloudinaryUrl moto.heroImage width="auto" fetch_format="auto"}}" class="cld-responsive" style="width:100%" src=""/>
</div>
</div>
