
{{#ifCond postLayout.key "==" "slide-one"}}
	{{> post-layouts/blog/slide-one post}}
{{else}}
	{{#ifCond postLayout.key "==" "youtube-full"}}
		{{> post-layouts/blog/youtube-full post}}
	{{else}}
		{{#ifCond postLayout.key "==" "technology"}}
			{{> post-layouts/blog/technology post}}
		{{else}}
			{{> post-layouts/blog/post-basic post}}
		{{/ifCond}}
	{{/ifCond}}
{{/ifCond}}
{{#if post.products}}
<div class="row">
	<div class="col-xs-12 products">
		{{#each post.products}}
			{{> product-category-product}}
		{{/each}}
	</div>
</div>
{{/if}}
