<div class="container">
	<div class="row" style="padding-bottom: 15px">
		<div class="col col-xs-12">
			<p><a href="/republik">&larr; Back to the Republik</a></p>
			<hr>
			{{#ifCond postLayout.key "==" "slide-one"}}
				{{> post-layouts/blog/slide-one post}}
			{{else}}
				{{#ifCond postLayout.key "==" "youtube-full"}}
					{{> post-layouts/blog/youtube-full post}}
				{{else}}
					{{> post-layouts/blog/post-basic post}}
				{{/ifCond}}
			{{/ifCond}}
		</div>
	</div>
	<div class="row">
		{{>blog-index}}
	</div>

</div>
