<div class="blog">
{{#container}}
	{{#ifCond section "==" "technology-detail"}}
		<div class="row">
			<div class="col col-xs-12">
				<p><a href="/technology">&larr; Back to Technology</a></p>
				<hr/>				
			</div>
		</div>
	{{/ifCond}}
	{{#ifCond section "==" "republik"}}
		<div class="row">
			<div class="col col-xs-12">
				<p><a href="/{{section}}">&larr; Back to Republik</a></p>
				<hr/>
			</div>
		</div>

	{{/ifCond}}
{{/container}}

{{#with post}}
	{{> post-layout}}
{{/with}}

{{#if post.products}}
{{#container}}
	<div class="row">
		<div class="col-xs-12 products">
			{{#each post.products}}
				{{> product-category-product}}
			{{/each}}
		</div>
	</div>
{{/container}}
{{/if}}

{{#container}}
	<div class="row" style="margin-top:0">
		<div class="col col-xs-12"><hr style="margin-bottom: 0px"/></div>
		<div class="col col-xs-12">{{>blog-index}}</div>
	</div>
{{/container}}
</div>
