{{#with post}}
	{{> post-layout}}
{{/with}}
{{#if post.products}}
<div class="row">
	<div class="col-xs-12 products">
		{{#each post.products}}
			{{> product-category-product}}
		{{/each}}
	</div>
</div>
{{/if}}
