<div class="container">
{{#with post}}
	{{> post-layout}}
{{/with}}
</div>
{{#if post.products}}
<div class="container">
	<div class="row">
		<div class="col-xs-12 products">
			{{#each post.products}}
				{{> product-category-product}}
			{{/each}}
		</div>
	</div>
</div>
{{/if}}
