<div class="blog">
	{{#with post}}
	{{> post-layout}}
{{/with}}

{{#if post.products}}
{{#container}}
	<div class="row">
		<div class="col-xs-12 products">
			{{#each post.products}}
				{{> product-category-product}}
			{{/each}}
		</div>
	</div>
{{/container}}
{{/if}}

{{#container}}
	<hr style="margin-bottom: 0px"/>
	<div class="row">
		<div class="col col-xs-12 col-sm-3" style="padding-top:7px">
			{{#ifCond section "==" "technology"}}
				<a href="/technology">&larr; Back to Technology</a>
			{{/ifCond}}
			{{#ifCond section "==" "republik"}}
				<a href="/{{section}}">&larr; Back to Republik</a>
			{{/ifCond}}
		</div>
		<div class="hidden-xs">
			{{> blog-pagination}}
		</div>
	</div>
	<div class="visible-xs row">
		{{> blog-pagination}}
	</div>
	<div class="row">
		<div class="col col-xs-12">
			{{> blog-index}}
		</div>
	</div>
	<div class="row blog-footer">
		<div class="col col-xs-12">
			{{#ifCond section "==" "technology"}}
				<a href="/technology">&larr; Back to Technology</a>
			{{/ifCond}}
			{{#ifCond section "==" "republik"}}
				<a href="/{{section}}">&larr; Back to Republik</a>
			{{/ifCond}}
		</div>
	</div>
	<div class="row">
		
	</div>
{{/container}}
</div>
