<div id="technology" class="blog">
	{{#with post}}
		{{> post-layouts/blog/post-full-width}}
	{{/with}}
	
</div><!-- end #technology -->
{{#if data.posts}}
{{#container}}
	<div class="row" style="margin-top:0">
		<div class="col col-xs-12"><hr style="margin-bottom: 0px"/></div>
		<div class="col col-xs-12">{{>blog-index}}</div>
	</div>
{{/container}}
{{/if}}
