<div id="technology" class="container-fluid">
	<div class="row">
		<div class="technology owl-carousel owl-theme">
			{{#each technology}}
			<div>
				{{{bannerOverlayHtml}}}
				<img data-src="{{{cloudinaryUrl heroImage width="auto" fetch_format="auto" quality="auto"}}}" src="" class="cld-responsive"/>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="technology-sub-nav">
			<div data-slide="0" class="col-xs-4 text-center active">Composite Fusion</div>
			<div data-slide="1" class="col-xs-4 text-center">Low Density Layer</div>
			<div data-slide="2" class="col-xs-4 text-center">Nano Fusion</div>
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="col-xs-12">
			<div class="technology-sub owl-carousel owl-theme">
				{{#each technology}}
					{{> technology-section}}
				{{/each}}
			</div>
		</div>
	</div>
	{{#each technology}}
		<div class="visible-xs">
			{{> technology-section}}
		</div>
	{{/each}}
	</div>
</div><!-- end #technology -->
