<div id="footer" >
{{#container}}

		<div class="row">
			<div class="col-xs-6 col-md-3">
				<h3>Find a Dealer</h3><ul><li><a href="/dealers">Dealer Locator</a></li></ul>
			</div>
			<div class="col-xs-6 col-md-3">
				<h3>Contact</h3>
				<ul>
					<li><p>375 Tennant Avenue<br/>
						Morgan Hill, CA 95037</p></li>
					<li><p>(888) PRO-KALI</p></li>
					<li><a href="/contact">Get in touch</a></li>
				</ul>
			</div>
            <div class="col-xs-6 col-md-3">
                <h3>Lifetime Crash Replacement</h3>
                <ul>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Stores</h3>
                <ul>
					<li><a href="https://shop-usa.kaliprotectives.com/" target="_blank">USA &amp; Canada</a></li>
                </ul>
				<h3>Archives</h3>
				<ul>
					{{#each productVersions}}
						{{#ifCond this.key "!=" @root.currentProductVersion.key}}
							{{#ifCond this.key "!=" '2019-pre-release'}}
                            	<li><a href="/archive/{{slug}}">{{name}}</a></li>
							{{/ifCond}}
						{{/ifCond}}
					{{/each}}
				</ul>
            </div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{> social-icons-svg}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12">&copy;<a href="//{{@root.domainAndPort}}">Kali Protectives</a> {{year}}</div>
		</div>

{{/container}}
</div>
