<div id="footer">
	<div class="row">
		<div class="col-xs-12 text-uppercase text-center">
			<form method="post">
				<label for="email">Join #KaliForLife</label>
				<input type="hidden" name="action" value="newsletter"/>
				<input type="text" name="email"/>
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
    </div>
    <div class="row">
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
        <div class="col-xs-3"><a href="#">A footer link...</a></div>
    </div>
    <p>&copy;Kali Protectives {{year}}</p>
</div>
