<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-6"><h3>Find a Dealer</h3><ul><li><a href="/dealers">Dealer Locator</a></li></ul></div>
			<div class="col-sm-3 col-xs-6">
				<h3>Contact</h3>
				<ul>
					<li><p>375 Tennant Avenue<br/>
						Morgan Hill, CA 95037</p></li>
					<li><p><a href="tel:(888) PRO-KALI">(888) PRO-KALI</a></p></li>
					<li><a href="/contact">Get in touch</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-6">
				<h3>#KaliForLife</h3>
				<ul>
					<li><a href="/register">Register</a></li>
					<li><a href="#">Dealers</a></li>
				</ul>
			</div>
		</div>
	
		<p class="text-uppercase">&copy;Kali Protectives {{year}}</p>
    </div>

</div>
