<div id="footer" >
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<h3>Find a Dealer</h3><ul><li><a href="/dealers">Dealer Locator</a></li></ul>
			</div>
			<div class="col-xs-6 col-md-3">
				<h3>Contact</h3>
				<ul>
					<li><p>375 Tennant Avenue<br/>
						Morgan Hill, CA 95037</p></li>
					<li><p>(888) PRO-KALI</p></li>
					<li><a href="/contact">Get in touch</a></li>
				</ul>
			</div>
            <div class="col-xs-6 col-md-3">
                <h3>Lifetime Crash Replacement</h3>
                <ul>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3>Dealers</h3>
                <ul>
                    <li><a href="https://dealers.kaliprotectives.com/">Dealer login</a></li>
                </ul>
            </div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{> social-icons-svg}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12">&copy;Kali Protectives {{year}}</div>
		</div>
    </div>
</div>
