<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col col-md-3">
				<h3>Find a Dealer</h3><ul><li><a href="/dealers">Dealer Locator</a></li></ul>
			</div>
			<div class="col col-md-3">
				<h3>Contact</h3>
				<ul>
					<li><p>375 Tennant Avenue<br/>
						Morgan Hill, CA 95037</p></li>
					<li><p>(888) PRO-KALI</p></li>
					<li><a href="/contact">Get in touch</a></li>
				</ul>
			</div>
			<div class="col col-md-3">
				<h3>#KaliForLife</h3>
				<ul>
					<li><a href="/register">Register</a></li>
				</ul>
			</div>
		</div>
	
		<p>&copy;Kali Protectives {{year}}</p>
    </div>

</div>
