<div class="row"> {{#if this.featureAnchor}}<a id="features"></a>{{/if}}
	{{#everyOther @index 2}}
		{{> helmet-technology-hero-image}}
		{{> helmet-technology-info}}
	{{else}}
		{{> helmet-technology-info}}
		{{> helmet-technology-hero-image}}
	{{/everyOther}}
</div>
