<div class="section{{#if darkColor}} dark{{/if}}" style="background-color:{{#if heroColor}}{{heroColor}}{{else}}#FFF{{/if}};{{#if heroBackgroundImage}}background-size:cover;background-image:url({{cloudinaryUrl heroBackgroundImage width="auto" format="jpg" flags="progressive"  quality="75"}});{{/if}};">
	<!--space for fixed header on mobile-->
	<div class="" style="height:70px"></div>
	
	
	<div class="container">
	{{#if featureVideo}}
		{{> index-section-feature-video}}
	{{else}}
		{{> index-section-normal}}
	{{/if}}
	</div>
</div>
