<!-- subnav here -->
<div class="container-fluid">
<nav id="nav-product-categories" class="navbar navbar-static-top hidden-xs subnav" role="navigation">
	<div class="col col-lg-1 visible-lg hidden-xl">&nbsp;
		</div>
		<div class="col col-xl-2 visible-xl">&nbsp;
		</div>
		<div class="col col-sm-12 col-lg-10 col-xl-8">
	<ul class="navbar navbar-nav">
		{{#each this}}
			{{#if name}}
			<li class="{{#ifeq key ../../subCategory}}active{{/ifeq}}">
				<a class="nav-anchor text-uppercase text-nowrap" href="/{{parentCategory.slug}}#{{slug}}">{{name}}</a>
			</li>
			{{/if}}
		{{/each}}
		</ul>
	</div>
</nav>
</div>
