<div id="nav-carousel-{{key}}" class="slick-slider">
	{{#each helmets}}
        <div class="col-sm-3">
                <a href="{{url}}">
                    <img src="{{carouselImage.url}}" class="img-responsive" alt="{{name}}">
                </a>
        </div><!-- End Item -->
	{{/each}}
</div>
