<div class="row">
	{{#each helmets}}
        <div class="col-sm-6">
                <a href="{{url}}">
                    <img src="{{carouselImage.url}}" class="img-responsive" alt="{{name}}">
                </a>
				<div>{{name}}</div>
        </div><!-- End Item -->
	{{/each}}
</div>
