<div id="product-sizing-guide">
	<div class="row">
		<div class="col-sm-8">
			<h1>Product Sizing Guide</h1>
            <h2>Proper Fit Essentials</h2>
			<p>If you have questions about fit or condition of your product, call our Consumer Service Team at (XXX) XXX-XXXX or e-mail us at feedback@kaliprotectives.com before you ride.</p>
			
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-sm-12"></div>
		</div>
	</div>

</div>
