<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<!--<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post{{#ifCond data.posts.results.length ">" 1}}s{{/ifCond}}.</h4>-->
			<div class="blog">
				{{# each @root.data.posts}}
					{{#ifCond postLayout.key "==" "slide-one"}}
						{{> post-layouts/blog/slide-one}}
					{{else}}
						{{#ifCond postLayout.key "==" "youtube-full"}}
							{{> post-layouts/blog/youtube-full}}
						{{else}}
							{{> post-layouts/blog/post-basic}}
						{{/ifCond}}
					{{/ifCond}}

				{{/each}}
			</div>
		</div>
	</div>
	<!--{{>pagination}}-->
</div>
