<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-toggle-controls-on-slide-click="false" data-close-on-slide-click="true">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev"><img class="gallery-icon" data-src="/img/gallery/arrow-l.png" style="width:40px;" /></a>
	<a class="next"><img class="gallery-icon" data-src="/img/gallery/arrow-r.png" style="width:40px;" /></a>
	<a class="close"><img class="gallery-icon" data-src="/img/gallery/x.png" style="width:40px;" /></a>
	<!--<a class="play-pause"></a>-->
	<ol class="indicator"></ol>
</div>
