<div class="product-title {{bootstrap-visibility}}">
	<h1>{{product.name}}</h1>
	<a href="" target="_blank">
		<div class="text-center buy-button" data-shopifyid-us="{{product.shopifyIdUS}}" data-shopifyid-can="{{product.shopifyIdCan}}" style="display:none">
			buy now
		</div>
	</a>
</div>
