<div class="row">
	<div class="col-xs-12 col-sm-7 vcenter">
		<img data-src="{{{cloudinaryUrl primaryImage width="auto" fetch_format="auto" quality="auto"}}}" src="" class="cld-responsive"/>
	</div><!--
	--><div class="col-xs-12 col-sm-5 vcenter">
		<h2>{{name}}</h2>
		<p>{{this.shortDescription}}</p>
		<a href="/technology/{{key}}"><button>Learn more</button></a>
	</div>
</div>
