<div class="container-xs">
	<div class="page-intro">
		<h1>Sign into SydJS</h1>
	</div>
	<div class="page-content">
		<div class="auth-box modal-pane-signin">
			<div>
				<!--<div class="social-signup-buttons">
					<div class="signup-button"><a href="/auth/github?target=/signin" title="Sign in with Github" class="btn btn-link-github btn-block"><span class="entypo-social entypo-github"></span><span class="signup-button__text"> Github</span></a></div>
					<div class="signup-button"><a href="/auth/facebook?target=/signin" title="Sign in with Facebook" class="btn btn-link-facebook btn-block"><span class="entypo-social entypo-s-facebook"></span><span class="signup-button__text"> Facebook</span></a></div>
					<div class="signup-button"><a href="/auth/google?target=/signin" title="Sign in with Google" class="btn btn-link-google btn-block"><span class="entypo-social entypo-google"></span><span class="signup-button__text"> Google</span></a></div>
					<div class="signup-button"><a href="/auth/twitter?target=/signin" title="Sign in with Twitter" class="btn btn-link-twitter btn-block"><span class="entypo-social entypo-twitter"></span><span class="signup-button__text"> Twitter</span></a></div>
				</div>
				<p class="auth-form-divider"><span class="auth-form-divider-text">or</span></p>-->
				<form method="post" action="/signin" role="signin" novalidate="novalidate" class="auth-form">
					<input type="hidden" name="action" value="signin"/>
					<input type="hidden" name="target"/>
					<div class="form-groups">
						<div class="form-group">
							<label for="signin-email" class="sr-only">Email</label>
							<input type="email" name="email" placeholder="Email" id="signin-email" class="form-control form-control--first"/>
						</div>
						<div class="form-group">
							<label for="signin-password" class="sr-only">Password</label>
							<input type="password" name="password" placeholder="Password" id="signin-password" value="" class="form-control form-control--last"/>
						</div>
					</div>
					<button type="submit" class="btn btn-block btn-primary btn-submit">Sign in</button>
				</form>
				<div class="row text-muted mt-3">
					<div class="col-sm-8">Don't have an account? <a href="/join">Join SydJS</a></div>
					<div class="col-sm-4 text-right"><a href="/forgot-password">Forgot password?</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
