
<table>
	<tr><th colspan="2">https://kaliprotectives.com customer contact:</th></tr>
	<tr><td>Name:</td><td>{{{enquiry.name.full}}}</td></tr>
	<tr><td>Phone:</td><td>{{{enquiry.phone}}}</td></tr>
	<tr><td>Email:</td><td>{{{enquiry.email}}}</td></tr>
	<tr><td></td><td>{{{enquiry.message.html}}}</td></tr>
	</tr>
</table>
