// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$brand-primary: #66cc00;
$link-color: purple;
$navbar-default-link-color: green !default;
$navbar-default-link-hover-color: $brand-grey !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: $brand-grey !default;



$brand-grey: #c9cbc7;
