<hr/>
<div class="row">
	<div class="owl-carousel owl-theme">
		{{#each this.imagesGallery.images}}
			<img data-src="{{cloudinaryUrl width="auto" fetch_format="auto"}}" class="cld-responsive" src=""/>
		{{/each}}
	</div>
</div>
