<div class="row ">
	<div class="col col-xs-3">
		<h3>{{{name}}}</h3>
		{{#if content.extended}}
			{{{content.extended}}}
		{{/if}}
	</div>
	<div class="col col-xs-9">
		{{#if mainImage}}
			<div class="row" style="margin-top:0;">
				<div class="col col-xs-12">
					<img data-src="{{cloudinaryUrl mainImage width="auto" fetch_format="auto"}}" class="cld-responsive" src=""/>
				</div>
			</div>
		{{/if}}
		{{#if gallery.widgets}}
			{{> post-layouts/blog/gallery}}
		{{/if}}
		{{#if imagesGallery}}
			{{> post-layouts/blog/images-gallery}}
		{{/if}}
	</div>
</div>
