{{#unless hideNameOnPost}}
<div class="container-fluid">
	<div class="col col-lg-2"></div>
	<div class="col col-lg-8">
		<h3>{{{name}}}</h3>
	</div>
</div>
{{/unless}}

{{#if content.extended}}
<div class="container-fluid">
	<div class="col col-lg-2"></div>
	<div class="col col-lg-8">
		{{{contentExtendedProcessed}}}
	</div>
</div>
{{/if}}
	
<!--{{#if youtube}}
	<div class="col col-xs-12">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
		</div>
	</div>
{{/if}}-->

{{#if gallery.images}}
<div class="container">
	{{#each gallery}}
		<img data-src="{{{cloudinaryUrl width="auto" fetch_format="auto" quality="auto"}}}"
			 src="" class="cld-responsive"/>
	{{/each}}
</div>
{{/if}}

{{#if gallery.widgets}}
	{{> post-layouts/blog/gallery}}
{{/if}}

{{#if imagesGallery}}
	{{> post-layouts/blog/images-gallery}}
{{/if}}
