<div class="row ">
	<div class="col col-xs-12 col-sm-3">
		<h3>{{{name}}}</h3>
		{{#if content.extended}}
			{{{content.extended}}}
		{{/if}}
	</div>
	<div class="col col-xs-12 col-sm-9">
		{{#if gallery.widgets}}
			{{> post-layouts/blog/gallery}}
		{{/if}}
		{{#if imagesGallery}}
			{{> post-layouts/blog/images-gallery}}
		{{/if}}
	</div>
</div>
