@import 'bootstrap/bootstrap/variables';

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gotham-Light.woff') format('woff'),
  url('/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('/fonts/GothamBlack.eot');
  src: url('/fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GothamBlack.woff') format('woff'),
  url('/fonts/GothamBlack.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/fonts/GothamMedium.eot');
  src: url('/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GothamMedium.woff') format('woff'),
  url('/fonts/GothamMedium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  background-color: #5e5e5e;
}
body {
  font-family: Gotham-Medium, Arial, SansSerif;
  //padding-top:120px;
}

@media (min-width: 768px) {
  body {
	//background: url("http://griddle.it/720px-4-30px") repeat-y center top !important;
  }
  .bh-sl-container .bh-sl-loc-list ul li {
  	height: 250px;
  }
}

@media (min-width: 992px) {
  body {
	//background: url("http://griddle.it/940px-4-30px") repeat-y center top !important;
  }

}

@media (min-width: 1200px) {
  body {
	//background: url("http://griddle.it/1140px-4-30px") repeat-y center top !important;
  }

}

h1, h2, h3 {
  font-family: Gotham-Black, Arial, SansSerif;
  text-transform: uppercase;
  margin-top: 0px;
}

.img-circle {
  -webkit-transform: translate(-50%);
}

.helmet-swatch-circle{
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 35px;
  height: 35px;
  background: yellow;
  float:left;
  margin:5px 10px;
  cursor: pointer; cursor: hand;
}

/** bootstrap 3 variable overrides */
$brand-primary: red;
$link-color: purple;
$navbar-default-link-color: green !default;
$navbar-default-link-hover-color: #333 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #555 !default;

/** bootstrap 3 helpers */

.helmets .row {
  padding: 15px 0px 15px 0px;
}

.helmets .row ul {
  list-style: none;
  padding-left: 0;
}

​
  /*.helmets .row:nth-of-type(odd) {
    background: #ffffff;
  }
  
  .helmets .row:nth-of-type(even) {
    background: #dcdcdc;
  }*/
.navbar-form input, .form-inline input {
  width: auto;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 0;
  padding-top: 5px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.navbar .navbar-right {
  //	margin-right: 0px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

/*.navbar .subnav {
  margin: 0;
  top: 0;
  width:100%;
  z-index: 10;
  border-bottom: 1px solid #E1E1E1;
  //border: 1px solid red;
  padding: 0 0 5px 0;
}*/
.subnav .navbar {
  background-color: rgba(255, 255, 255, 0);
}

.navbar.subnav ul.navbar{
  text-align: justify;
  width:100%;
  min-width:500px;
  padding-left:0;
}
.navbar.subnav ul.navbar:after{
  content: '';
  display: inline-block;
  width:100%;
}
.navbar.subnav li {
  display: inline-block;
  float: none;
}
.navbar.subnav li a{
  padding: 0
}

.helmet-section-nav ul{
  padding:0;
  list-style: none;
  
}
.helmet-section-nav ul li{
  display: inline-block;
  padding:15px;
}

a.helmet-category-anchor {
  display: block;
  position: relative;
  /*top: -100px;*/
  visibility: hidden;
}
/*.subnav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}*/

.navbar-brand {
  padding: 0 0 0 15px;
  //position: fixed;
  //z-index:15;
}

.navbar-logo, .subnav-logo {
  height: 50px;
}

.subnav{
  //position:fixed;
  //top:55px;
}
.panel {
  border: 0;
  margin-bottom: 0
}

/*.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent; }*/
.percentage {
  /*background: repeating-linear-gradient(
				  to right,
				  #ddd,
				  #ddd 1px,
				  #fff 1px,
				  #fff 3%
  );*/
  background: linear-gradient(to right, #bbb, white);
}
.percentage:after {
  content: "";
  display: block;
  background-color: #bbb;
  line-height:15px;
}

@for $i from 1 through 100 {
  .percentage-#{$i}:after {
	$value: ($i * 1%);
	width: $value;
	content:'\00a0'
  }
}


.row{
  margin-bottom:15px;
}

/* END Bootstrap overrides */


/* Helmet category */
.helmet-category-item {
  position:relative;
  background-image:
		  linear-gradient(
						  rgba(0, 0, 0, 0.1),
						  rgba(0, 0, 0, 0.1)
		  )
}
.helmet-category-item h2{
  
}
.helmet-category-item .helmet-category-item-overlay {
  
  position:absolute; 
  bottom:0; 
  left:0;
  visibility: hidden;
  padding: 15px;
  background-image:
		  linear-gradient(
						  rgba(255, 255, 255, 0.8),
						  rgba(255, 255, 255, 0.8)
		  );
  height:90%;
  width:100%;
}

.helmet-category-item:hover .helmet-category-item-overlay {
  visibility: visible;
}

/* */ 

/* Helmet detail */
#helmet-zoom-current{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
#helmet-usage-chart dt{

}
#helmet-usage-chart dd {
  
}

#helmet-usage-chart dl {
  //border: 3px double #ccc;
  //padding: 0.5em;
}

#helmet-usage-chart dt {
  float: left;
  clear: left;
  width: 100px;
  font-weight: bold;
  white-space: nowrap;
}

#helmet-usage-chart dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

#helmet-sizing-guide h1{
  font-size: $font-size-large;
}
#helmet-sizing-guide h2{
  font-size: $font-size-base;
}
/* END helmet detail page */ 

.lazyload {
  opacity: 0;
}

.lazyload {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(/img/loading.gif) no-repeat center;
}

#footer, #footer a{
  background-color: #5e5e5e;
  color: #fff;
  margin-top:0;
}
#footer h2{
  font-size: $font-size-large;
}
#footer h3{
  font-size: $font-size-base;
}
#footer ul{
  list-style: none;
  padding: 0;
}


/* Google Maps overrides */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
