.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gotham-Light.woff') format('woff'),
  url('/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body{
  font-family: Gotham, Arial, SansSerif;
}
@media (min-width: 768px) {
  body {
	background: url("http://griddle.it/720px-4-30px") repeat-y center top !important;
  }
  .slick-slider{
	height: 80px;
	margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  body {
	background: url("http://griddle.it/940px-4-30px") repeat-y center top !important;
  }
  .slick-slider{
	height: 140px;
	margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  body {
	background: url("http://griddle.it/1140px-4-30px") repeat-y center top !important;
  }
  .slick-slider{
	height: 200px;
	margin-bottom: 50px;
  }
}

/** bootstrap 3 helpers */

.navbar-form input, .form-inline input {
  width:auto;
}

.navbar {
  margin-bottom:0;
  min-height:0;
}

.subnav {
  margin:0;
  top: 0px;
  z-index: 10;
  background-color: rgb(247,247,247);
  border-bottom: 1px solid #E1E1E1;
  padding: 0px 0px 0px 0px;
}

.subnav.affix {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:10;
}

.navbar-brand{
  padding:0;
  //position: fixed;
  //z-index:15;
}
.navbar-logo, .subnav-logo{
  height:50px;
}
.subnav-logo{
  
}

.panel{border:0; margin-bottom:0}

/*.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent; }*/

