@import 'bootstrap/bootstrap/variables';
@import '/js/fullpage.js/dist/jquery.fullpage.css';
@import '_fullpage-custom.scss';
@import 'site/_widget.scss';

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gotham-Light.woff2') format('woff2'),
  url('/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('/fonts/GothamBlack.eot');
  src: url('/fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GothamBlack.woff2') format('woff2'),
  url('/fonts/GothamBlack.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/fonts/GothamMedium.eot');
  src: url('/fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GothamMedium.woff2') format('woff2'),
  url('/fonts/GothamMedium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  background-color: #000;
}

body {
  color: #000;
  font-family: Gotham-Medium, Arial, SansSerif;
  //padding-top:120px;
}


@media (min-width: 0px) {
  .bh-sl-container .bh-sl-map{
	height:300px;
  }
  .slide-overlay {
	font-size: 0.8em;
  }
  
  #technology .heading{
	width: 90%;
	top: 20%;
  }
  #technology .banner-overlay {
	top: calc(50% - 24px); //24px is font size of H1 I assume
  }
  #technology .banner-overlay h1{
	font-size:16px;
	letter-spacing:3px;
	margin:3px 0px 1px 0px;
  }
  #technology .intro {
	font-size: 12px;
	width:360px;
  }
  
}

@media (min-width: 768px) {
  body {
	//background: url("http://griddle.it/720px-4-30px") repeat-y center top !important;
  }
  .bh-sl-container .bh-sl-map{
	height:400px;
  }
  .bh-sl-container .bh-sl-loc-list ul li {
	height: 250px;
  }
  .slide-overlay {
	font-size: 0.8em;
  }

  #technology .heading{
	width: 480px;
	top: 30%;
  }
  #technology .banner-overlay {
	top: calc(50% - 74px); //24px is font size of H1 I assume
  }
  
  #technology .banner-overlay h1{
	font-size:20px;
	height:20px;
	line-height:20px;
	letter-spacing:5px;
	margin:4px 0px 2px 0px;
  }
  #technology .intro {
	font-size: 14px;
	width:480px;
  }
  .technology-icon-nav title {
	height:20px;
  }
   
}

@media (min-width: 992px) {
  body {
	//background: url("http://griddle.it/940px-4-30px") repeat-y center top !important;
  }
  
  .bh-sl-container .bh-sl-map{
	height:530px;
  }
  .slide-overlay {
	font-size: 1em;
  }

  #technology .heading{
	width: 560px;
  }
  
  #technology .banner-overlay h1{
	font-size:24px;
	height:24px;
	line-height:24px;
	letter-spacing:6px;
	margin:6px 0px 5px 0px;
  }
  #technology .intro {
	font-size: 16px;
	width:560px;
  }
}

@media (min-width: 1200px) {
  body {
	//background: url("http://griddle.it/1140px-4-30px") repeat-y center top !important;
  }

  .slide-overlay {
	font-size: 1.2em;
  }

  #technology .heading{
	width: 700px;
  }

  #technology .banner-overlay h1{
	font-size:30px;
	height:30px;
	line-height:30px;
	letter-spacing:6px;
	margin:8px 0px 4px 0px;
  }
  #technology .intro {
	font-size: 20px;
	width:700px;
  }
}

h1, h2, h3, h4 {
  font-family: Gotham-Black, Arial, SansSerif;
  text-transform: uppercase;
  margin-top: 0;
}

h4 {text-transform: none;}

.fullpage-nav {
  position:fixed;
  width:100%;
  background-color:#FFF;
  top: 0px;
  z-index: 10;
}

.section.dark {
  color:white;
}

.section.dark .dark-to-white {
  fill: white !important;
}

.section.dark .light-to-black{
  fill: black !important;
}

.slide-overlay {
  position: absolute;
  top: 30%;
  left: 15px;
  width: 26%;
  color: white;
  font-family: Gotham-Light, Arial, SansSerif;
}

.cld-responsive {
  width: 100%;
}

.img-circle {
  -webkit-transform: translate(-50%);
  border-radius: 50%;
}

.color-swatch {
  display: inline-block;
  margin: 5px 12px;
  cursor: pointer;
  cursor: hand;

  height: 25px;
  width: 25px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  overflow: hidden;
  display: inline-block;

  box-shadow: 2px 2px 5px darken($brand-grey, 15%);
  border-image-width: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.color-swatch .circle {
  height: 100%;
  width: 100%;
  display: table;
}
.color-swatch .circle-slice{
  display: table-cell;
}

/** bootstrap 3 variable overrides */
.btn {
  border-radius: 0;
}

/** bootstrap 3 helpers */
.popover {
  /*max-width:500px;
  width:500px;*/
  max-width: 1000px;
}

.form-control {
  color: #000;
  border-color: $brand-grey;
}

.form-control:focus {
  border-color: $brand-primary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 204, 0, 0.6)
}

.input-group-addon {
  background-color: $brand-grey;
}

/* end bootstrap 3 variable overrides */

/* home landing */
.wrapper {
  height:100%;
}
.wrapper .parent {
  width: 50%;
  margin: 0px;
  height: 100%;
  //border: 1px solid blue;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.wrapper .parent .child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position:relative;
}
.wrapper .parent .child .label-container{
  position:absolute;
  top: 50%;
  width:100%;
  text-align: center;
}
.wrapper .parent .child .label-container .lbl {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding:10px;
  display: inline;
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: none;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child {
  filter: grayscale(100%);
}
.parent:hover .child, .parent:focus .child{
  filter: grayscale(0%);
} 

.child:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: rgba(66,66,66,0.75);
  
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}
/* end home landing*/


.blueimp-gallery {
  background-color: #FFF;
}

.bh-sl-container .bh-sl-loc-list .list-focus {
  border: 2px solid $brand-primary;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $brand-grey;
  margin: 1em 0;
  padding: 0;
}

.products .row ul {
  list-style: none;
  padding-left: 0;
}

​
  /*.products .row:nth-of-type(odd) {
    background: #ffffff;
  }
  
  .products .row:nth-of-type(even) {
    background: #dcdcdc;
  }*/
.navbar-form input, .form-inline input {
  width: auto;
}

#nav-main {
  font-size: 1.1em;
  font-family: Gotham-Black, Arial, SansSerif;
  padding: 10px 0px;
  margin: 0;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 0;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  position: relative;
}
.navbar:after{
  content: none;
}
.navbar>.container:after {
  content: none;
}

.navbar .nav > li {
  z-index: 2000;
  background-color: white;
}

.navbar.subnav ul.navbar:after {
  content: none; 
  display: none;
}
.navbar-right .dropdown-menu.discipline{
  right: auto;
  min-width: initial;
  //	margin-right: 0px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

/*.navbar .subnav {
    margin: 0;
    top: 0;
    width:100%;
    z-index: 10;
    border-bottom: 1px solid #E1E1E1;
    //border: 1px solid red;
    padding: 0 0 5px 0;
  }*/
.subnav {
  z-index: 100;
}
.subnav .navbar {
  
  background-color: rgba(255, 255, 255, 0);
}

.navbar.subnav ul.navbar {
  text-align: justify;
  width: 100%;
  min-width: 500px;
  padding-left: 0;
}

.navbar.subnav ul.navbar:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.navbar.subnav li {
  display: inline-block;
  float: none;

}

.navbar.subnav li a {
  padding: 10px 15px;
  display: block;
}

.navbar.subnav li a:focus, .navbar.subnav li a:hover {
  text-decoration: none;
}

.nav li a:hover, .nav li a:focus, .nav .open a:hover, .navbar.subnav li:hover {
  background-color: $brand-grey;
}

.nav li.active {
  background-color: lighten($brand-grey, 15%);
}

#nav-discipline {
  padding: 0;
  margin: 14px 10px 14px 0;
  border: 2px solid black;
}

#nav-discipline ul {
  list-style: none;
  padding: 0;
  font-size: 0;
  font-family: Gotham-Medium
}

#nav-discipline li {
  font-size: 12px;
  padding: 0px 10px;
  margin: 0px;
  display: inline-block;
}
#nav-discipline li.active, #nav-discipline li.active a:hover{
  cursor: default;
}
#nav-discipline li:not(.active):hover {
  background-color: $brand-grey;
}

#nav-discipline li a:hover, #nav-discipline li a:active{
  background-color: $brand-grey;
  text-decoration: none;
}

#nav-discipline li.active {
  background-color: black;
}
#nav-discipline li.active{
  color: white;
}



#nav-product-categories li.active {
  font-weight: bold;
}

/*
	Product page
*/

.product-category-title, .product-title{
  color: #FFF;
  background-color: #000;
  display: inline-block;
  padding: 10px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.product-category-title h1, .product-title h1{
  color: #FFF;
  font-family: Gotham-Medium, Arial, SansSerif;
  font-size: 30px;
  margin: 0;
}

.product-description, .lcr-description {
  background-color: lighten($brand-grey, 15%);
  padding: 10px;
}
.product-description p {
  margin: 0;
}

.product-swatch-title {
  text-transform: uppercase;
  margin: 5px 0;
}

.product-section-nav {
  top: 0px;
  //z-index: 1020;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid #E1E1E1;
  padding: 8px 0px 0px 0px;
}

.product-section-nav ul {
  padding: 0;
  list-style: none;
  top: 0;
}

.product-section-nav ul li {
  display: inline-block;
  padding: 15px;
}

.product-icon-group {
  display: inline-block;
}

a.product-category-anchor:hover, a.product-category-anchor:active {
  text-decoration: none;
}

.product-gallery {
  background: url(../img/loading.gif) center no-repeat;
}

/*
End Product Page
*/


#lcr-guidelines p{
  margin-left:30px;
}
#lcr-guidelines p.lcr-description{
  margin-left:0;
}

.navbar-brand {
  padding: 0;
}

.navbar-logo {
  width:150px; 
  height:50px;
  margin-right: 15px;
}

.navbar-right {
  margin-right: 0;
}

.subnav {
  //position:fixed;
  //top:55px;
}

.panel {
  border: 0;
  margin-bottom: 0;
}

.initialism .row {
  margin-top: 5px;
}

/*.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent; }*/

/*.percentage{
  border-bottom:2px solid $brand-primary;
  margin-top:8px;
}*/


@for $i from 1 through 100 {
  .percentage-#{$i} {
	border-bottom:2px solid $brand-primary;
	margin-top:8px;
	float:left;
	$value: ($i * 1%);
	width: $value;
	content: '\00a0';
  }
}

.percentage-end {
  height: 6px;
  width: 6px;
  float:left;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color:$brand-primary;
  margin-top:6px;
  margin-left:-6px;	
}
.row {
  margin-top: 15px;
}

/* END Bootstrap overrides */

.home h2, .product-main h2, .blog h2.black-block, .blog h2.black-block a {
  color: white;
  font-family: Gotham-Medium, Arial, SansSerif;
  font-size: 30px;
  background-color:black;
  display:inline-block;
  margin:0;
}
.home h3{margin-bottom:0;}

.home .product-title{
  color: #FFF;
  background-color: #000;
  display: inline-block;
  padding: 10px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.product-main .more-info, .blog .buy-button, .product-main .buy-button {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  background-color: lighten($brand-grey, 15%);
  font-weight: normal;
  font-family: Gotham-Black;
  padding: 8px 11px;
}

.blog .buy-button, .product-main .buy-button {
  background-color: $brand-primary;
  color:white;
  font-weight: bold;  
}
.blog a{
  text-decoration: underline;
}
/* Scale up the box */
.home .technology img:hover, .home .technology svg:hover, .product-main .more-info:hover, .product-main .buy-button:hover {
  transform: scale(1.1, 1.1);
}



@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

.home .alpha{
  @include alpha-attribute('background-color', rgba(white, 0.5), white);
}

.home h3.slide-label{
  color: #FFF;
  background-color: #000;
  padding: 10px;
  padding-bottom: 8px;
  font-family: Gotham-Medium, Arial, SansSerif;
  font-size: 16px;
  display:inline-block;
}


/* Product category */
.product-category-item {
  position: relative;
}
.product-category-item img {
  margin: 8px 0;
}

.product-category-item a:hover, .product-category-item a:active {
  text-decoration: none;
}

.product-category-item h2 {

}

.product-category-item .product-category-item-overlay {

  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  padding: 15px;
  background-image: linear-gradient(
				  rgba(255, 255, 255, 0.8),
				  rgba(255, 255, 255, 0.8)
  );
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}

.product-category-item .product-category-item-overlay p {
  text-indent: 0px;
}

.product-category-item .product-category-item-overlay span.highlight {
  background-color: #FFF;
  padding: 5px;
}

.product-category-item .product-category-item-overlay span.highlight-inverse {
  color: #FFF;
  background-color: #000;
  font-weight: 100;
  padding: 5px;
}

.product-category-item:hover {

}

.product-category-item:hover .product-category-item-overlay {
  visibility: visible;
}

/* */

/* Product detail */

.image-toggler {
  cursor: pointer;
  cursor: hand;
}

#product-zoom-current {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#product-usage-chart dt {

}

#product-usage-chart dd {

}

#product-usage-chart dl {
  //border: 3px double #ccc;
  //padding: 0.5em;
}

#product-usage-chart dt {
  float: left;
  clear: left;
  width: 100px;
  font-weight: bold;
  white-space: nowrap;
}

#product-usage-chart dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

#product-sizing-guide h1 {
  font-size: $font-size-large;
}

#product-sizing-guide h2 {
  font-size: $font-size-base;
}

.colorway {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.product-main .technology h4 {
  font-size: 10px;
}
.product-main .technology a:hover{
  text-decoration:none;
}

#rowShopifyCan,#rowShopifyUS {
  display:none;
}

/* END product detail page */

/* Register page */
.register-content a:link, .register-content a:visited {
  color: blue;
}
/* END Register page */

/* Technology page */
#technology a, #technology a:visited, #technology a:hover {
  text-decoration: none;
}
#technology .banner{
  position: relative;
}

#technology .banner-overlay {
  color: white;
  position: absolute;
   
  left: 4%;
  //text-align: center;
  width: 90%;
  //position:absolute; top:25%; left:110px; width:100%
}

#technology .heading {
  //display: inline-block; 
  border-top: 2px solid white; 
  border-bottom: 2px solid white;
  //position:absolute;
  //left: 4%;
  margin-bottom: 10px;
}
#technology .intro {
  //position:absolute;
  //left:4%;
  //width:60%;
  //bottom: 5%;
  //font-weight: bold;
}
.technology-icon-nav .title h4 {
  font-size: 10px;
}
#technology .description {
  font-size:0.8em;
}

#technology .banner-overlay .intro h1{
  //font-size:30px;
  margin-bottom:0;
  width:90%;
  //height:36px;
  //line-height:36px;
  //letter-spacing:6px;
}

.technology-icon-nav .tertiary-container {
  border-bottom: 3px solid $brand-grey;padding-bottom:2px;}
.technology-icon-nav h4.year{
  font-size:12px;
  font-family: Gotham-Black;
}
.technology-icon-nav h4.title{
  //font-size: 12px;
  margin-bottom:2px;
}
.technology-icon-nav h5.title{
  font-size:10px;
}
.technology-icon-nav p{
  font-size: 11px;
}

.technology-icon-nav .timeline{
  border-bottom:2px solid $brand-primary;
  margin-top:8px;
}

.technology-icon-nav .timeline-end {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color:$brand-primary;
  margin-top:6px;
}

.technology-icon-nav .technology-icon-nav-item .tertiary-image{
  padding: 0px;
}
.technology-icon-nav .technology-icon-nav-item .tertiary-image img{
  padding: 2px;
}

.technology-icon-nav .technology-icon-nav-item:hover .tertiary-image{
  padding: -2px;
}
.technology-icon-nav .technology-icon-nav-item:hover .tertiary-image img{
  padding: 0px;
}

/* END Technology page*/


/* Dealer map */

#map {
  width:1500px;
  height:1500px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  //font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#location-list {
  background-color: #FFF;
  overflow-y: scroll;
}
#location-list ul {
  padding: 5px;
  list-style: none;
}
#location-list ul li {
  padding: 5px;
  border-bottom: 1px solid $gray-lighter;
  cursor: pointer;
}
#category-filters-container1{
  background-color: white;
  opacity: .8;
  list-style: none;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
/* End Dealer map */

.lazyload {
  opacity: 0;
}

.lazyload {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(/img/loading.gif) no-repeat center;
}

#footer {
  padding-bottom:30px;
}
#footer ul {
  margin-bottom: 15px;
}

#footer, #footer a {
  background-color: #000;
  color: #fff;
  margin-top: 0;
  border: 0;
}

#footer h2 {
  font-size: $font-size-large;
}

#footer h3 {
  font-size: $font-size-base;
}

#footer ul {
  list-style: none;
  padding: 0;
}

.social-icon:hover {
  cursor: pointer;
  cursor: hand;
}
.social-icon .outer-shape{
  fill: #000;
}
.social-icon:hover > .outer-shape{
  fill: $brand-primary;
}


/* Google Maps overrides */
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

a[href^="https://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}
