@font-face {
  font-family: 'icomoon';
  src:    url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.eot?594ln9');
  src:    url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.eot?594ln9#iefix') format('embedded-opentype'),
  url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.woff2?594ln9') format('woff2'),
  url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.ttf?594ln9') format('truetype'),
  url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.woff?594ln9') format('woff'),
  url('https://i.icomoon.io/public/c88de6d4a5/DWSiteGenesis/icomoon.svg?594ln9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-personal-data:before {
  content: "\e91a";
}
.i-pinterest .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.i-pinterest .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-chev-left-thin-double:before {
  content: "\e90a";
}
.i-chev-right-thin-double:before {
  content: "\e90f";
}
.i-youtube:before {
  content: "\e910";
}
.i-facebook:before {
  content: "\e911";
}
.i-google-plus:before {
  content: "\e912";
}
.i-instagram:before {
  content: "\e913";
}
.i-linkedin:before {
  content: "\e914";
}
.i-twitter .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.i-twitter .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-logout:before {
  content: "\e900";
}
.i-add:before {
  content: "\e145";
}
.i-cross:before {
  content: "\e5cd";
}
.i-edit:before {
  content: "\e254";
}
.i-favorite:before {
  content: "\e87d";
}
.i-question_answer:before {
  content: "\e8af";
}
.i-star:before {
  content: "\e838";
}
.i-lock:before {
  content: "\e897";
}
.i-mail_outline:before {
  content: "\e0e1";
}
.i-radio-inactive:before {
  content: "\e836";
}
.i-radio-active:before {
  content: "\e837";
}
.i-remove:before {
  content: "\e15b";
}
.i-star-border:before {
  content: "\e83a";
}
.i-star-half:before {
  content: "\e839";
}
.i-list:before {
  content: "\e8ef";
}
.i-grid:before {
  content: "\e8f0";
}
.i-search-right:before {
  content: "\e908";
}
.i-search:before {
  content: "\e90d";
}
.i-login:before {
  content: "\e909";
}
.i-user:before {
  content: "\e90e";
}
.i-menu:before {
  content: "\e90b";
}
.i-warning:before {
  content: "\e91e";
}
.i-folder-heart:before {
  content: "\e917";
}
.i-address-book:before {
  content: "\e918";
}
.i-credit-card:before {
  content: "\e919";
}
.i-stack-text:before {
  content: "\e91b";
}
.i-headset:before {
  content: "\e901";
}
.i-checkmark:before {
  content: "\e907";
}
.i-cancel-circle:before {
  content: "\e905";
}
.i-printer:before {
  content: "\e90c";
}
.i-chev-right:before {
  content: "\e902";
}
.i-chev-up:before {
  content: "\e903";
}
.i-chev-left:before {
  content: "\e904";
}
.i-chev-down:before {
  content: "\e906";
}
.i-gift:before {
  content: "\e7ff";
}
.i-cross-thin:before {
  content: "\e92a";
}
.i-chev-up-thin:before {
  content: "\e939";
}
.i-chev-down-thin:before {
  content: "\e93a";
}
.i-chev-left-thin:before {
  content: "\e93b";
}
.i-chev-right-thin:before {
  content: "\e93c";
}

