\<div class="row ">	
	<div class="row">
		<div class="col col-xs-12">
			{{#if content.markdown.html}}
				{{{content.markdown.html}}}
			{{else}}
				{{{content.extended}}}
			{{/if}}
		</div>
		<div class="col col-xs-12">
			{{#if youtube}}
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
			</div>
			{{/if}}
		</div>
	</div>
</div>
